<div class="col-lg-3">
    <div class="ibox">
        <div class="ibox-content">
            <h5>Visits in last 24h</h5>
            <h2>198 009</h2>
            <div id="sparkline1"></div>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="ibox">
        <div class="ibox-content">
            <h5>Visits week</h5>
            <h2>65 000</h2>
            <div id="sparkline2"></div>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="ibox">
        <div class="ibox-content">
            <h5>Last month</h5>
            <h2>680 900</h2>
            <div id="sparkline3"></div>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="ibox">
        <div class="ibox-content">
            <h5>Avarage time</h5>
            <h2>00:06:40</h2>
            <div id="sparkline4"></div>
        </div>
    </div>
</div>
